.nf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}
.nf-image {
  width: 300px;
  margin-bottom: 20px;
}
.nf-title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--text);
}
.nf-text {
  font-size: 2.1rem;
  margin-bottom: 20px;
  color: var(--text);
}
.nf-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: var(--primary-dark);
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}
