/* ----- CONTENEDOR PRINCIPAL ----- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

/* ----- LOGO + TITULO ----- */
.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header .logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 12px;
}

.store-name {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 500;
  color: var(--secondary);
}

/* ----- NAVEGACIÓN ----- */
.header .nav {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-grow: 1;
  justify-content: center;
}

.header .nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.05rem;
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
  position: relative;
}
.header .login {
  width: 1px;
  height: 30px;
  background: #ddd;
  margin: 0 10px 0 650px;
}
.navActive {
  color: var(--secondary);
}
.user-menu {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 5px 9px;
  transition: all 0.3s ease;
  font-weight: 600;
}

.logout-btn {
  background: transparent;
  color: white;
  border: 1.8px solid var(--primary-dark);
  padding: 7px 16px;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.35s ease;
  white-space: nowrap;
}

.logout-btn:hover {
  background: var(--primary-dark);
  color: white;
  transform: scale(1.05);
  box-shadow: 0 4px 12px var(--secondary);
}
.navActive::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  width: 60%;
  height: 3px;
  background: var(--primary-dark);
  border-radius: 3px;
  transform: translateX(-50%);
}
.navinactive {
  color: var(--primary-dark);
}
/* ----- CARRITO ----- */
.cart-btn {
  background: var(--secondary);
  color: var(--primary-dark);
  padding: 10px 16px;
  border: 0;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 40px;
}

.cart-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* =====================================================
   RESPONSIVE DESIGN
===================================================== */

/* Tablets y pantallas medianas */
@media (max-width: 768px) {
  .header .login {
    margin-left: 5px;
  }
  .user-menu {
    padding: 8px 14px;
    gap: 10px;
  }

  .user-name {
    font-size: 0.98rem;
  }

  .logout-btn {
    padding: 6px 14px;
    font-size: 0.86rem;
  }
}
@media (max-width: 900px) {
  .header {
    padding: 0 1px;
    flex-wrap: wrap;
  }
  .header-left {
    flex: 1;
  }
  .header .nav {
    gap: 1px;
  }
  .header .login {
    margin: 0;
    padding: 0;
  }
}

/* Celulares */
@media (max-width: 600px) {
  .header .nav a {
    gap: 0;
    font-size: 1rem;
  }
  .header .login {
    margin-left: -10px;
  }
  .cart-btn {
    font-size: 0.95rem;
  }
  .logo {
    display: none;
  }
  .store-name {
    display: none;
  }
  .cart-btn {
    margin: auto;
  }
}

/* Celulares muy pequeños */
@media (max-width: 420px) {
  .header-left {
    flex-direction: column;
    gap: 5px;
  }
  .user-menu {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }

  .user-name {
    margin-top: 20px;
    font-size: 0.8rem;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .logout-btn {
    padding: 5px 12px;
    font-size: 0.82rem;
    margin-left: -40px;
  }

  header .nav {
    gap: 20px;
  }
  header .logo {
    display: none;
  }
  .store-name {
    display: none;
  }
  header .login {
    margin: 0;
  }
}
@media (orientation: landscape) and (max-width: 1200px) {
  header .logo,
  header .store-name {
    display: none;
  }
  header .nav {
    gap: 20px;
  }
  .cart-btn {
    margin: auto;
    margin-top: -40px;
    margin-left: 10px;
  }
  .header {
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
  }
}
