.about-section {
  padding: 60px 20px;
  background: var(--secondary);
  color: var(--text);
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
}

.about-text h2 {
  color: var(--primary-dark);
  font-size: 2.2rem;
  margin-bottom: 10px;
  text-align: center;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.about-image img {
  width: 70%;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-text h2 {
    font-size: 1.8rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .about-image img {
    max-width: 90%;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .about-section {
    padding: 35px 15px;
  }

  .about-text h2 {
    font-size: 1.6rem;
  }

  .about-text p {
    font-size: 0.95rem;
  }

  .about-image img {
    width: 100%;
    border-radius: var(--border-radius);
  }
}
@media (max-width: 360px) {
  .about-text h2,
  .articulos-title {
    font-size: 1.4rem;
  }

  .about-text p,
  .articulo-card p {
    font-size: 0.85rem;
  }

  .articulo-card img {
    height: 120px;
  }
}
@media (orientation: landscape) and (max-width: 1200px) {
  .about-container {
    grid-template-columns: 60% 40%;
    gap: 10px;
  }
  .about-image img {
    width: 100%;
    margin-right: 30px;
  }
  .about-text {
    margin: 0 20px;
  }
}
